
            
            .navbar
            {
              background-color: rgb(63, 72, 204);
              display: flex;
              justify-content: space-around;
              align-items: center;
              min-height: 8vh;
              font-family: 'Times New Roman', Times, serif;
             
            }
            .navbar-brand
            {
                margin-top: -45px;
                max-height: 45px;
                margin-left: 150px;
                font-size: 30px;
                position: relative;
                z-index: 10;
            }
            #navbarNav
            {
                margin-top: 25px;
                margin-left: 240px;
                font-size: 20px;
                display: flex;
                justify-content: space-around;
                
            }
            .nav-item
            {
                display: flex;
                justify-content: space-around;
                padding-right: 20px;
            }
            #color
            {
              color: white;
              font-family: Helvetica, sans-serif;

            }
            .topnav {
                overflow: visible;
                display: flex;
                width: 40%;
              }
    
              .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                text-decoration: none;
                font-size: 20px;
                border-bottom: 3px solid transparent;
              }
    
              .topnav a:hover {
                border-bottom: 3px solid red;
              }
    
              .topnav a.active {
                border-bottom: 3px solid red;
              }
              #ed-ph
              {
                border-bottom-right-radius: 90px;
                border-bottom-left-radius: 90px;
              }
              #btnScrollToTOP
            {
              position: fixed;
              right: 10px;
              bottom: 10px;
              width: 50px;
              height: 50px;
              border: none;
              border-radius: 50%;
              background: blue;
              box-shadow: 0 0 10px rgba(0,0,0,0.25);
              color: #ffffff;
              outline: none;
              cursor: pointer;
            }
            #btnScrollToTOP:active
            {
              background-color: rgb(163, 10, 10);
            }
            .fa {
              padding: 30px;
              font-size: 25px;
              width: 30px;
              height: 50px;
              text-align:center;
              text-decoration:none;
              margin: 5px 3px;
              border-radius: 100%;
            }
            .fa:hover {
                opacity: 0.7;
            }

            .fa-facebook {
              background: #3B5998;
              color: white;
            }

            .fa-twitter {
              background: #55ACEE;
              color: white;
            }


            .fa-youtube {
              background: #bb0000;
              color: white;
            }
            .fa-instagram{
              background:#125688;
              color:white;
            }
           
            #color4
            {
              color: white;
              font-size: 18px;

            }
            #color5
            {
              color: white;
            }
            #font
            {
              font-size: 22px;
              font-weight: 500;

              
            }
            @media (max-width: 1180px) 
            {
             
              #brand
              {
                display: none;
              }
              #ed-ph
              {
                height: 110px;
                width: 110px;
              }
              .navbar-brand
              {
                padding-right: 330px;
                padding-top: 32px;
                
              }
              .navbar-nav
              {
                display: none;
              }
              #photo
              {
                flex-direction: column;
                width: 100%;
                height: 290px;
              }
              #photo1
              {
               display: none;
              }
              .container1 .r
              {
                display: none;
              }
              .container1 .r
              {
                display: none;
              }
              #radius1
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 300px;
              }
              #radius2
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 300px;
              }
              .col-md-8
              {
                margin-right: 170px;
                
              }
              #myvideo
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 300px;
              }
              #myvideo2
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 300px;
              }
              #scout-bag
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 235%;
                height: 300px;
              }
              
              #green-week
              {
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 100%;
                height: 250px;
              }
              #panda
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 145%;
                height: 250px;
              }
              
              #corona
              {
                flex-direction: column;
                width: 100%;
                height: 400px;
                margin-bottom:50px ;
              }
              #map
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                flex-direction: column;
                width: 205%;
                height: 300px;
              }
              .y
              {
                margin-right: 40px;
              }
              #rr
              {
                border-radius: 50px;
                margin-top: 20px;
                width: 100%;
              }
              #animation
              {
                border-radius: 75px;
                box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
                padding-top: 20px;
                width: 250px;
              }
            #delegations
              {
                flex-direction: column;
                width: 100%;
                height: 290px;
              }
              #br
              {
                display: none;
              }
              .but
              {
                margin-right: 55px;
              }
              .but1
              {
                margin-right: 75px;
              }
              #delegations2
              {
                flex-direction: column;
                width: 100%;
                height: 650px;
              }
              
           
            }